extends layout

block contenido
  section.grid-main-container
    header.header
      div.img-logo-client
        div.img-logo-example
    div.center-section
      div.button-menu-container(id="categorias-container")
        each categoria in categorias
          button.menu-button(type="button" onclick=`window.location.href='/api/secciones/traer/categoria/${categoria.id}'`) #{categoria.nombre}


