/* Estilo menu index */
:root {
    /* Colores */
    --clr-Dark-blue:#040b16;
    --clr-Dark-blue--op:#08152b49;
    --clr-Soft-grey-blue:hsl(215, 32%, 27%);
    --clr-Soft-grey-blue--op-50:hsla(216, 84%, 60%, 0.137);
    --clr-Soft-grey-blue--op-80:hsla(216, 53%, 32%, 0.096);
    --clr-Soft-grey-blue--op:hsla(215, 33%, 39%, 0.171);
    --clr-Orange: #f68a31f4;
    --clr-Orange--op: #f68a312a;
    --clr-grey: #cecece;
    --clr-White: hsl(0, 0%, 100%);
    /* Font family & weight */
    --ff-Bebas-Neu: 'Bebas Neue', sans-serif;
    --fw-Bebas-Neu-r-400: 400; 
    --ff-Poppins: 'Poppins', sans-serif;
    --fw-Poppins-l: 300;
    --fw-Poppins-r: 400;
    --fw-Poppins-m: 500;
    --fw-Poppins-sb: 600;
    --fw-Poppins-b: 700;
    --fw-Poppins-extra-b: 800;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    body {
        width: 100%;
        height: 100dvh;
    }
    
    .grid-main-container {
        height: 100%;
        min-width: 170px;
        display: grid;
        grid-template-rows: 100px 1fr min-content;
        grid-template-areas: "header"
                             "main-section"
                             "footer";
    }
    
    .header {
        grid-area: header;
        position: sticky;
        top: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--clr-Dark-blue);
    }
    
    .header::after {
        content: "";
        width: calc(100% - 2rem);
        position: absolute;
        bottom: 0;
        border-bottom: 3px solid var(--clr-Soft-grey-blue--op);
        border-radius: 10px;   
    }
    
    .img-logo-client {
        width: 4rem;
        height: 4rem;
        background: var(--clr-Soft-grey-blue--op);
        border-radius: 100%;
    }
    
    .center-section {
        grid-area: main-section;
        background: var(--clr-Dark-blue);
        height: 100%;
        position: relative;
    }
    
    /* Buttons menu */
    
    .button-menu-container {
        height: 100%;
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .menu-button {
        height: 3rem;
        max-height: 120px;
        margin: 0 1rem 1rem 1rem;
        border: none;
        border-radius: .3rem;
        flex: 1 1 auto;
        font-family: var(--ff-Bebas-Neu);
        font-size: 1.2rem;
        font-weight: var(--fw-Bebas-Neu-r-400);
        letter-spacing: 1px;
        color: var(--clr-grey);
        background: var(--clr-Soft-grey-blue--op);
    }
    
    /* Menu Carta */
    
    .grid-menu-container {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-areas: "title-section"
                             "menu-items"; 
    }
    
    .card-container {
        margin: 1rem 1rem 0 1rem;
        border: 3px solid var(--clr-Soft-grey-blue--op);
        border-left: none;
        border-right: none;
        border-radius: .3rem;
    }
    
    .fl-center.title-section{
        margin-top: 1rem;
        padding: .5rem 0;
        grid-area: title-section;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--s-White);
        background: var(--clr-Soft-grey-blue);
    }
    
    .h2-section {
        font-family: var(--ff-Bebas-Neu);
        font-size: 1.6rem;
        font-weight: var(--fw-Bebas-Neu-r-400);
        color: var(--clr-White);
        letter-spacing: 1px;
    }
    
    .items-container{
        margin: 1rem 0;
        grid-area: menu-items;
        display: grid;
        gap: 1rem;
    }
    
    .card-item {
        padding: 0.5rem;
        display: flex;
        background: var(--clr-Dark-blue--op);
    }
    
    .item-info-container {
        padding: .5rem;
        flex: 1 1 auto;
        border-radius: .3rem;
        background: var(--clr-Dark-blue);
    }
    
    .title-container {
        display: flex;
    }
    
    .item-icon  {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: .5rem;
    }
    
    .h3-item {
        font-family: var(--ff-Bebas-Neu);
        font-size: 1.6rem;
        font-weight: var(--fw-Bebas-Neu-r-400);
        letter-spacing: 1px;
        color: var(--clr-White);
    }
    
    .precio-item-container {
        padding: .5rem; 
        display: flex;
        flex-direction: column;
        border-radius: .3rem;
        background: var(--clr-Dark-blue);
    }
    
    .p-item-description {
        font-family: var(--ff-Poppins);
        font-size: 1rem;
        font-weight: var(--fw-Poppins-r);
        color: var(--clr-grey);
    }
    
    .description-precio-item {
        font-family: var(--ff-Bebas-Neu);
        color: var(--clr-Orange);
        font-size: 1.3rem;
        font-weight: var(--fw-Bebas-Neu-r-400);
    }
    
    .precio-item {
        padding-top: .2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .p-precio-item {
        font-family: var(--ff-Bebas-Neu);
        font-size: 1.3rem;
        color: var(--clr-grey);
    }
    
    /* x-mark */
    
    .x-mark-container {
        width: 100%;
        margin: .5rem 0;
        padding: .5rem 0;
        position: sticky;
        bottom: clamp(0rem, 3.5rem, 4rem);
        display: flex;
        justify-content: center;
        background: var(--clr-Soft-grey-blue--op);
        backdrop-filter: blur(10px);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .box {
        width: min-content;
        padding: .3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: var(--clr-Orange);
    }
    
    .img-x-mark {
        width: 1.3rem;
        height: 1.3rem;
        box-sizing: content-box;
        padding: .3rem;
        border-radius: 100%;
    }
    
    /* Footer */
    
    .footer {
        grid-area: footer;
        padding: 1rem 0;
        position: sticky;
        bottom: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--clr-White);
        background: var(--clr-Dark-blue);
    }
    
    .footer::before {
        content: "";
        width: calc(100% - 2rem);
        position: absolute;
        top: 0;
        border-bottom: 3px solid var(--clr-Soft-grey-blue--op);
        border-radius: 10px;
    }
    
    .p-footer-contact {
        font-family: var(--ff-Poppins);
        font-size: .7rem;
        font-weight: var(--fw-Poppins-extra-r);
    }
    
    /*....*/


/* login */

.login-container {
    padding: 20px;
    background: var(--p-Dark-blue);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: var(--s-White);
    font-family: var(--ff-Poppins);
  }
  
  label {
    color: var(--s-White);
    font-family: var(--ff-Poppins);
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background: var(--p-Soft-grey-blue--op);
    color: var(--s-White);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--ff-Bebas-Neu);
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  button:hover {
    background: var(--p-Soft-grey-blue);
  }



  